container{
    margin:50px;
  
  }

  section{
  margin-top:50px;
   padding-left: 150px;
    padding-right: 150px;
  }

  .grid {
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
}

.grid-item {
text-align: center;
}
.btn {
width: 100%;
 padding: 6px;
  
}

.bcolors{
    width: 35px; /* largura do botão */
  height: 30px;
}

body{
  background-image: url("imagem.png");
}
